.container {
    padding: 16px 24px 24px 24px;
    background-color: var(--gray-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 1442px;
    /* Fix max-width to center the content with margin: auto */
    @media (max-width: 1454px) {
        max-width: min-content;
    }
}

.headerPage {
    width: 100%;
    align-items: flex-start;
}

.titlePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titlePage {
    margin: 0 !important;
}

.subTitlePage {
    color: var(--gray-7);
}