.pageLayout {
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
}

.pageLayoutContainer {
    max-width: 1442px;
    /* Fix max-width to center the content with margin: auto */
    @media (max-width: 1454px) {
        max-width: min-content;
    }
}